[Unit]
Description=Consul service discovery agent
Requires=network-online.target
After=network.target

[Service]
Restart=on-failure
ExecStart=/bin/bash -c "/opt/consul agent -server -advertise {{ consul_advertise_ip }} -bootstrap $OPTIONS -config-dir=/opt/consul.d -data-dir /tmp/consul"
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
